@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NAVIGATION BAR  */
/* LEFT-NAVBAR  */

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-inline: 28px;
    padding-bottom: 11px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    

}
.left-nav{
    margin-left: -10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-nav button{
    background-color: transparent;
    border: none;
}
.left-nav i{
    margin-left: -3px;
    font-size: 17px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.left-nav i:hover{
    background-color: #e3e1e1;
       
}
.left-nav img{
    height: 20px;
    cursor: pointer;
}

/* CENTER NAVBAR  */
.center-nav{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.center-nav input{
    height: 36px;
    width: 488px;
    border-radius: 17px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(182, 178, 178);
    padding-left: 14px;
    font-size: 14.5px;
    outline: none;
}
.search-btn{
    height: 36px;
    background-color: #F8F8F8;
    width: 56px;
    border: 1px solid rgb(182, 178, 178);    border-left: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.search-btn:hover{
        background-color: #e3e1e1;
        cursor: pointer;
}
#search-btn-icon{
    font-size: 15px;
    color: #0F0F0F;
}

/* MIC BUTTON HERE  */
.mic-btn{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: none;
    margin-left: 13px;
}
.mic-btn:hover{
    background-color: #e3e1e1;
        cursor: pointer;
}
#mic-btn-icon{
    font-size: 16px;
}


/* RIGHT NAVBAR  */
.right-nav{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
}

/* RECORDING BUttoN  */
.right-nav button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.right-nav button:hover{
    background-color: #F0F0F0;
}
.right-nav button i{
    color: black;
    font-size: 16px;
}

/* BELL ICON BUTTON  */
.right-nav  div{
    height: 32px;
    width: 32px;
    align-content: center;
    cursor: pointer;
    border-radius: 50%;
    
}
/* .right-nav div:hover{
    background-color: #F0F0F0;

} */
.right-nav div i{
    font-size: 19px;
}
.bell{
    position: relative;
}

/* NOTI  */
.noti{
    position: absolute;
    top: -7px;
    right: -8px;
}
.noti span{
    padding-inline: 3px;
    font-size: 12px;
    background-color: #CC0000;
    border-radius: 7px;
    color: white;
}

.right-nav img{
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* ALL DATA DIV  */
.all-data{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-inline: 10px;
    overflow: hidden;
}


/* MINI SIDEBAR  */

.mini-sidebar{
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 80px;
    /* background-color: red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.mini-sidebar-content{
    width: 60px;
    margin-left: 1px;
    cursor: pointer;
    border-radius: 6px;
    padding-block: 16px;
    border: none;
    background-color: white;
}
.mini-sidebar-content:hover{
    background-color: #f5f4f4;
}

.mini-sidebar-content img{
    height: 20px;
}

.mini-sidebar-content i{
    font-size: 15px;
    
    
}
.mini-sidebar-content p{
    font-size: 10px;
    margin-top: 8px;
}

/* SIDE BAR MENU  */
.sidebar{
    /* background-color: rgb(183, 144, 144); */
    position: fixed;
    left: 11px;
    bottom: 0;
    top: 55px;
    width: 180px;
    height: 100vh;
    background-color: white;
    display: none;
    z-index: 10;
}
.sidebar:hover{
    overflow-y: auto;
}
/* HOME BUTTON  */
.s1{
    width: 150px;
    height: 35px;
    /* background-color: rgb(239, 237, 237); */
    align-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.s1:hover{
    /* background-color: #d1cfcf; */
}
.s1 i{
    margin-left: 10px;
    margin-right: 20px;
}
.s1 span{
    font-size: 13px;
    font-weight: 500;
}

/* ALL BUTTON  */
.s2{
    width: 150px;
    height: 35px;
    align-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.s2:hover{
    background-color: #E5E5E5;
}

.s2 span{
    font-size: 13px;

}
.s2 i{
    height: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.sidebar hr{
    opacity: 0.4;
    margin-right: 16px;
    margin-block: 10px;
}
.h-sidebar{
    margin-bottom: 10px;
}
.h-sidebar span{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}
.activity{
    background-color: rgb(239, 237, 237);
}
.activity:hover{
    background-color: #d1cfcf;
}



.small-bar{
    display: flex;
    gap: 10px;
    padding-inline: 15px;
    position: fixed;
    top: 55px;
    left: 75px;
    /* left: 200px; */
    right: 0;
    background-color: white;
    padding-bottom: 10px;
    
}

.b1{
    font-weight: 500;
    padding: 6px 7px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: black;
}

.b2{
    padding-inline: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.b2:hover{
    background-color: #e3e1e1;
} 