body {
    margin: 0;
    padding-top: 95px;
    padding-left: 90px;
    /* padding-left: 210px; */
    padding-right: 20px;
}

.main-content {
    height: 100vh;

}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 50px;
    /* row-gap: 50px; */
    
   

}

/* video div   */
.mini-content {
    width: 370px;
    /* width: 370px; */
    height: 275px;
    cursor: pointer;
    /* background-color: red; */
}

.thumbnail {
    margin-bottom: 7px;
}

.thumbnail img {
    height: 210px;
    /* height: 190px; */
    width: 100%;
    border-radius: 8px;
}

.video-info {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.title p {
    font-size: 15px;
    font-weight: 500;
    width: 96%;
}

.logo img {
    height: 40px;
    border-radius: 50%;
}





.video-data>p {
    font-size: 12px;
}



/* ACTIVE WORK  */

.sidebar.active{
    display: block;
    background-color: white;
}
#small-bar.active{
    left: 180px;
}
#mini-sidebar.active{
    display: none;
}
.content.active{
    padding-left: 100px;
}
.mini-content.active{
    width: 340px;
}